/*css landing*/

body {
	background-image: url("https://media4.giphy.com/media/Cgr2Ajni6FtMRIljqe/giphy.gif?cid=790b761107221f477149cba6f77eaff2fdade69f14e3e548&rid=giphy.gif&ct=g"); 
    background-position: center 18%; 
    background-size: cover;
}
